export-csv-to-influx @ git+https://github.com/7yl4r/export-csv-to-influx@master#egg=export-csv-to-influx
filepanther @ git+https://github.com/7yl4r/filepanther@master#egg=filepanther
Flask>=1.1.2
pandas>=1.0.3
psycopg2>=2.8.5
waitress>=1.4.4
xlrd>=1.2.0
