<!doctype html>
<title>Upload Time Series File</title>
<h1>Upload Time Series File</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
  <p>
  Here you can upload timeseries .csv files extracted from other sources.
  </p><p>
  The fields (columns) from the csv file will be loaded into an InfluxDB backend.
  The data will then be available for display on a frontend like grafana.
  </p><p>
  These can be data from satellite images extracted from a region of interest
  but other data can also be uploaded.
  </p>
  <table style="width:100%">
      <tr>
          <td>measurement:</td>
          <td>(example: rs_oc_chlor)</td>
          <td><input
              type=text name=measurement value={{request.args['measurement']}}
          ></td>
      </tr>
      <tr>
          <td>tag_set:</td>
          <td>(example: location=MIA)</td>
          <td><input
              type=text name=tag_set value="{{request.args['tag_set']}}"
          ></td>
      </tr>
      <tr>
          <td>fields</td>
          <td>(example: mean,climatology,anomaly)</td>
          <td><input
              type=text name=fields value="{{request.args['fields']}}"
          ></td>
      </tr>
      <tr>
          <td>time_column</td>
          <td>(example: Time)</td>
          <td><input
              type=text name=time_column value="{{request.args['time_column']}}"
          ></td>
      </tr>
  </table>
</form>


Authorized Users:
<ul>
    <li>Dan Otis</li>
<ul>
