<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
  <table style="width:100%">
      <tr>
          <td>measurement:</td>
          <td>(example: rs_oc_chlor)</td>
          <td><input type=text name=measurement value={{request.args['measurement']}}></td>
      </tr>
      <tr>
          <td>tag_set:</td>
          <td>(example: location=MIA)</td>
          <td><input type=text name=tag_set value="{{request.args['tag_set']}}"></td>
      </tr>
      <tr>
          <td> test</td>
      </tr>
  </table>
</form>
